.padding {
  background-color: black;
  margin-left: auto;
  padding: 10px;
  max-height: 500px; /* Pas deze waarde aan naar wens */
}

.first_pic {
  .web-image {
    max-width: 730px;
  }
}

// .mobile-image {
//   display: none;
// }

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.subheading {
  font-size: 35px;
  color: hsl(35, 77%, 62%);
}

.text_new {
  color: gray;
}

.numbers {
  color: rgb(157, 157, 157);
  font-size: 30px;
  font-weight: bolder;
}

.line-height .title_paragraph {
  line-height: 1;
}

.heading {
  font-size: 40px;
}

.number_text {
  color: gray;
}

.testimonial_grid_numbers img {
  max-width: 120px;
}

.testimonial_grid_numbers .flex {
  overflow: hidden;
}

.testimonial_grid_numbers img {
  float: left;
  margin-right: 10px;
  max-width: 120px;
}

.testimonial_grid_numbers .line-height {
  overflow: hidden;
}

.testimonial_grid_numbers h2,
.testimonial_grid_numbers .line-height p {
  margin: 0;
  line-height: 2;
}

.title_paragraph {
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;

  &:hover {
    color: hsl(35, 77%, 62%);
  }
}

.title_block {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    color: hsl(5, 85%, 63%);
  }
}

.testimonial_grid {
  display: flex;
  align-items: center;
}