.testimonial_grid_row_2:nth-child(2) {
  grid-row: span 2;
}

.testimonial {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 50em) {
  .testimonial_grid_col_2 {
    grid-column: span 2;
  }
  .testimonial {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 769px) {
  .mobile-image, .menu-container {
    display: none;
  }
}
@media (max-width: 768px) {
  .mobile-image img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  body {
    margin: 80px 20px;
  }
  .navigation_bar {
    grid-template-columns: 1fr;
  }
  .text {
    display: none;
  }
  .menu-container.show-menu .text {
    display: block; /* Toon menu-items wanneer het menu wordt geopend */
  }
  .navigation_bar .hamburger-menu {
    display: block;
  }
  .logo {
    text-align: center;
  }
  .testimonial {
    grid-template-columns: 1fr;
  }
  .testimonial_grid_col_2,
  .testimonial_grid_row_2 {
    margin-left: 0;
    grid-column: span 1;
    grid-row: span 1;
  }
  .heading {
    font-size: 30px;
  }
  .line-height,
  .title_block p {
    font-size: 10px;
  }
  .title_block {
    font-size: 10px;
  }
  button {
    width: 100%;
  }
  .first_pic .web-image {
    display: none;
  }
  .menu-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
  }
  .menu-container.show-menu {
    display: block;
  }
  .icon-menu-close-svg {
    display: none;
  }
  .hide-icon {
    display: none;
  }
  .show-menu .icon-menu-svg {
    display: none;
  }
  .show-menu .icon-menu-close-svg {
    display: block;
  }
}
button {
  background-color: hsl(35, 77%, 62%);
  color: white;
  font-weight: bold;
  border: none;
  padding: 17px;
  width: 185px;
  letter-spacing: 5px;
  cursor: pointer;
}
button:hover {
  background-color: black;
  color: white;
}

.navigation_bar {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 40px;
}
.navigation_bar img {
  cursor: pointer;
}

body {
  margin: 80px 160px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.padding {
  background-color: black;
  margin-left: auto;
  padding: 10px;
  max-height: 500px; /* Pas deze waarde aan naar wens */
}

.first_pic .web-image {
  max-width: 730px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.subheading {
  font-size: 35px;
  color: hsl(35, 77%, 62%);
}

.text_new {
  color: gray;
}

.numbers {
  color: rgb(157, 157, 157);
  font-size: 30px;
  font-weight: bolder;
}

.line-height .title_paragraph {
  line-height: 1;
}

.heading {
  font-size: 40px;
}

.number_text {
  color: gray;
}

.testimonial_grid_numbers img {
  max-width: 120px;
}

.testimonial_grid_numbers .flex {
  overflow: hidden;
}

.testimonial_grid_numbers img {
  float: left;
  margin-right: 10px;
  max-width: 120px;
}

.testimonial_grid_numbers .line-height {
  overflow: hidden;
}

.testimonial_grid_numbers h2,
.testimonial_grid_numbers .line-height p {
  margin: 0;
  line-height: 2;
}

.title_paragraph {
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
}
.title_paragraph:hover {
  color: hsl(35, 77%, 62%);
}

.title_block {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.title_block:hover {
  color: hsl(5, 85%, 63%);
}

.testimonial_grid {
  display: flex;
  align-items: center;
}

.text li {
  list-style: none;
  padding-left: 40px;
  float: right;
  color: gray;
  cursor: pointer;
}
.text li:hover {
  color: hsl(5, 85%, 63%);
}/*# sourceMappingURL=main.css.map */