body{
    margin: 80px 160px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

/*navigation_bar*/
.navigation_bar{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 40px;
}

.navigation_bar img{
    cursor: pointer;
}
/*navigation_bar*/



.testimonial_grid_col_2{
    grid-column: span 2;
}

.testimonial_grid_row_2{
    grid-row: span 2;
}

/* grid_main*/
.testimonial{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 
    repeat(3, 1fr);
}
/* grid_main*/



.text li {
    list-style: none;
    padding-left: 40px;
    float: right;
    color: gray;
    cursor: pointer;
}

.text li:hover{
    color: hsl(35, 77%, 62%)
}

.testimonial_grid{
    display: grid;
}

.first_pic img{
    max-width: 730px;
}

.heading {
    font-size: 50px;
    font: weight 800px;
    line-height: 1;
}

.paragraph{
    color: gray;
}

button{
    background-color: hsl(5, 85%, 63%);
    color: white;
    font-weight: bold;
    border: none;
    padding: 17px;
    width: 185px;
    letter-spacing: 5px;
}

/* .testimonial_grid_black{
} */

.padding{
    background-color: black;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 30px;
    padding: 20px;
}

.subheading{
    font-size: 35px;
    color: hsl(35, 77%, 62%)
}

.line-height .title_paragraph{
    line-height: 1;
}

.title_paragraph{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.text_new{
    color: gray;
}

.numbers{
    color: rgb(157, 157, 157);
    font-size: 30px;
    font-weight: bolder;
}

.title_block{
    font-weight: bold;
    font-size: 20px;
}

.number_text{
    color: gray;
}

.testimonial_grid_numbers img{
max-width: 120px;
}

.testimonial_grid_numbers .flex {
    overflow: hidden; /* Zorgt ervoor dat de container de hoogte van de inhoud behoudt */
}

.testimonial_grid_numbers img {
    float: left;
    margin-right: 10px; /* Voeg wat ruimte toe tussen het plaatje en de tekst */
    max-width: 120px;
}


.testimonial_grid_numbers .line-height {
    overflow: hidden; /* Zorgt ervoor dat de hoogte van de container correct wordt berekend */
}

.testimonial_grid_numbers h2,
.testimonial_grid_numbers .line-height p {
    margin: 0; /* Verwijder de standaardmarges om ongewenste ruimte te voorkomen */
    line-height: 2;
}
